.header {
  padding-inline: 16px;
  position: sticky;
  z-index: 30;
  background-color: white;
  top: 0;
  box-shadow: 0px 1px 0px 0px #e2e6e9;

  @include on-tablet {
    padding-inline: 0;
  }

  &__top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 13px;
    gap: 16px;
    align-items: center;

    @include on-desktop {
      padding-block: 16px;
    }
  }

  &__container {
    display: flex;
    gap: 48px;
    align-items: center;
  }

  &__logo {
    width: 60px;
    height: 20.8px;

    @include on-desktop {
      width: 80px;
      height: 27px;
    }
  }

  &__right {
    @include on-phone {
      display: none;
    }

    &--circle {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #eb5757;
      top: -5px;
      right: 5px;
    }

    &--quantity {
      color: #ffffff;
    }

    &--cart {
      height: 14px;
      padding-inline: 16px;
      position: relative;
      color: $main-color-text;

      @include on-desktop {
        padding-left: 24px;
      }

      &::before {
        content: '';
        position: absolute;
        top: -14px;
        left: 0;
        height: 51px;
        width: 1px;
        box-shadow: -1px 0 0 0 #e2e6e9;

        @include on-tablet {
          top: -18px;
          height: 56px;
        }

        @include on-desktop {
          top: -23px;
          height: 63px;
        }
      }
    }

    &--fav {
      height: 14px;
      padding-inline: 16px;
      position: relative;
      color: $main-color-text;

      @include on-desktop {
        padding-inline: 24px;
      }

      &::before {
        content: '';
        position: absolute;
        top: -14px;
        left: 0;
        height: 51px;
        width: 1px;
        box-shadow: -1px 0 0 0 #e2e6e9;

        @include on-tablet {
          top: -18px;
          height: 56px;
        }

        @include on-desktop {
          top: -23px;
          height: 63px;
        }
      }
    }

    @include on-tablet {
      display: flex;
    }
  }

  &__icon {
    display: block;
    position: relative;
    height: 16px;
    width: 16px;

    &::after {
      content: '';
      display: flex;
      top: -20px;
      flex-direction: row;
      position: absolute;
      height: 56px;
      left: -16px;
      width: 100%;
      box-shadow: -1px 0 0 0 #e2e6e9;
    }

    @include on-tablet {
      display: none;
    }
  }

  &__line {
    height: 1px;
    box-shadow: 0 1px 0 0 #e2e6e9;
  }

  &__nav {
    @include on-phone {
      display: none;
    }

    @include on-tablet {
      display: block;
    }

    &--list {
      display: flex;
      gap: 32px;

      @include on-desktop {
        gap: 64px;
      }
    }
  }
}

.nav {
  &__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 4%;
    text-transform: uppercase;
    color: $main-nonactive-page;
  }

  &__item {
    position: relative;
  }
}

.is-active-page {
  color: $main-color-text;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -16px;
    background-color: $main-color-text;
    height: 2px;
    width: 100%;
  }
}
