@import './vars';

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin on-phone {
  @media (min-width: $phone-min-width) {
    @content;
  }
}

@mixin pageGrid {
  --columns: 4;
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 12;
  }

  @include on-desktop {
    --columns: 24;
  }
}

@mixin content-pudding-inline {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include on-tablet {
    padding-inline: 24px;
    max-width: 1200px;
  }

  @include on-desktop {
    margin-inline: auto;
  }
}

.container {
  @include content-pudding-inline;
}
