@import '../../../utils/mixins';
@import '../../../utils/vars';

.slider-product {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include pageGrid;

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / -1;
    padding-inline: 16px;

    @include on-tablet {
      padding-inline: 0;
    }

    &--heading {
      color: #313237;
      text-align: left;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow: hidden;
    grid-column: 1 / -1;
  }
  &__button {
    display: flex;
    gap: 16px;
    height: fit-content;
  }
}
